header{
    padding: 40px;
    background-color: black;
    border-bottom: 5px dotted;
    border-color: blue;
}

h1{
    color: white;
    text-align: center;
}

img{
    width: 1350px;
    height: 690px;
}

body{
    background-color: aqua;
}