header{
    padding: 40px;
    background-color: black;
    border-bottom: 5px dotted;
    border-color: blue;
}

h1{
    color: white;
    text-align: center;
}

body{
    margin: 0px;
    background-color: aqua;
}

.menu{
    padding-top: 80px;
    padding-left: 80px;
    display: flex;
    justify-content:center;
    gap: 10%;
   
}

h1,h2{
    color: white;
    text-align: center;
}

p{
    font-size: 20px;
    font-family: "Times New Roman";
   
}

.texto-resumo{
    font-size: 20px;
    font-family: "Times New Roman";
}

.categoria-imagem img{
   flex: 1;
   padding: 45px;

   background-color: blue;
   border: 5px solid;
   border-radius: 30px;
   margin-left: 10px;
}

.categoria-imagem:hover{
    width: 100%;
    height: 150px;
    border: 3px solid;
    border-radius: 60px;
    object-fit: fill;
}

footer{
    color: aliceblue;
    margin-top: 5%;
    padding: 55px;
    background-color: black;
    border-top: 5px dotted;
    border-color: rgb(238, 74, 74);
}